{
  "plugins": [
    "react"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "eslint-config-umi",
      "eslint-config-egg"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
